// Pagina Centros - Mobile
.centros-gineco {
    @include flex-box;

    p {
        display: none;
    }
}

// Pagina Centros - Desktop
@media(min-width:1201px) {


    .centros-gineco__contenido {
        @include flex-desktop;
        flex-direction: row-reverse;

        p {
            display: block;
            text-align: justify;
            font-family: $fuente-principal;
        }
    }
}