// Pagina contactos - Mobile

.contactanos__main {
    text-align: center;

    &__img {
        visibility: hidden;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    input {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
    }

    textarea {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
    }

    label {
        display: none;
    }

}

// Pagina contacto - Desktop
@media(min-width:1201px) {

    .contactanos__main {
        display: grid;
        grid-template-columns: (60% 40%);



        &__img {
            visibility: visible;
            background-image: url(../img/contactus.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;


            p {
                visibility: hidden;
            }

        }
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        label {
            display: inline;
            font-family: $fuente-principal;
        }

        &__label {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 65%;
        }

        input {
            color: white;
        }

        textarea {
            color: white
        }

        &__label__button {
            background-color: blueviolet;
            padding: 0.5em;
            border-radius: 1em;
        }
    }
}