// Pagina contactos - Mobile

.contactanos__main {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    input {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
    }

    textarea {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
    }

    label {
        display: none;
    }
}

// Pagina contacto - Desktop
@media(min-width:1201px) {

    .contactanos__main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        text-align: center;

        label {
            display: inline;
            font-family: $fuente-principal;
        }

        &__label {
            display: flex;
            flex-direction: column;
            align-items: stretch;

        }

        input {
            color: white;
        }

        textarea {
            color: white
        }

        &__label__button {
            background-color: blueviolet;
        }
    }
}