// Pagina Conferencias - Mobile

.conferencias__generales {
    @include flex-box;
}

.conferencias__video p {
    display: none;
}

// Pagina Conferencias - Desktop

@media(min-width:1201px) {

    .conferencias__video {
        @include flex-desktop;

        p {
            display: block;
            text-align: justify;
            font-family: $fuente-principal;
        }
    }
}