// Index - Mobile first

.recetas__encabezado {
    background-color: beige;
    border-style: solid;
    border-color: rgba(255, 20, 216, 0.445);
    text-align: center;
    padding: 1em;
}

.noticias {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.insertos__conferencia {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.insertos__mapa {
    @extend .insertos__conferencia
}

// Index - Versión desktop
@media(min-width:1201px) {

    .noticias {
        padding-top: 75px;
        display: grid;
        grid-template-columns: 3fr 1fr;

        &__principal {
            padding: 1em;
        }

        &__ultimas {
            border-left: solid 0.2em blueviolet;
            padding: 1em;
        }
    }

    .insertos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}