

.recetas__encabezado{
    background-color: beige;
    border-style: solid;
    border-color: rgba(255, 20, 216, 0.445);
    text-align: center;
    padding: 1em;
}

.noticias{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.insertos__conferencia {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.insertos__mapa {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
