.comida-saludable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 150px;
    width: 50%;
    min-height: 150px;
    height: 50%;
}

.humus{
    background-color: whitesmoke;
    padding: 1em;
    border: solid 0.2em blueviolet;
}
.sopa{
    background-color: whitesmoke;
    padding: 1em;
    border: solid 0.2em blueviolet;
}