// Formatos Listas

ul {
    font-size: 1rem;
    padding: 0.5em;
    font-family: $fuente-principal;
    list-style: none;

    & a {
        text-decoration: none;
        color: $color-fuente-principal;
    }
}

ol {
    font-size: 1rem;
    padding: 1em;
    font-family: $fuente-principal;
    margin: 0px;
}

.navegador__lista li:hover {
    transform: scale(1.5);
    transition-duration: .75s;
}