* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(252, 168, 182, 0.637);
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 1em;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5em;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1em;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  text-align: justify;
  padding: 1em;
}

header {
  background-color: beige;
  border-style: solid;
  border-color: rgba(255, 20, 216, 0.445);
  animation-name: header-color;
  animation-duration: 5s;
  animation-iteration-count: 2;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: 0.5em;
  font-family: "Ubuntu", sans-serif;
}

@media (min-width: 1201px) {
  header {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    align-items: center;
  }
  header h1 {
    grid-row: 1/3;
    color: whitesmoke;
  }
  header nav {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  header nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
  }
  header nav ul li a {
    color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
    text-align: end;
    font-size: 1.25rem;
  }
}
ul {
  font-size: 1rem;
  padding: 0.5em;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
}
ul a {
  text-decoration: none;
  color: black;
}

ol {
  font-size: 1rem;
  padding: 1em;
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}

.navegador__lista li:hover {
  transform: scale(1.5);
  transition-duration: 0.75s;
}

footer {
  background-color: rgb(248, 109, 183);
  border-style: solid;
  border-color: rgba(255, 20, 216, 0.445);
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

@media (min-width: 1201px) {
  footer {
    background-color: blueviolet;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer li a {
    color: whitesmoke;
  }
  footer form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  footer .button {
    background-color: red;
    color: white;
  }
  footer .button:hover {
    background-color: blue;
    color: gold;
    border-radius: 0.5em;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  width: 50%;
  min-height: 150px;
  height: 50%;
}

@keyframes header-color {
  0% {
    background-color: pink;
  }
  50% {
    background-color: blueviolet;
  }
  100% {
    background-color: aqua;
  }
}
.recetas__encabezado {
  background-color: beige;
  border-style: solid;
  border-color: rgba(255, 20, 216, 0.445);
  text-align: center;
  padding: 1em;
}

.noticias {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insertos__conferencia {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.insertos__mapa {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

@media (min-width: 1201px) {
  .noticias {
    padding-top: 75px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .noticias__principal {
    padding: 1em;
  }
  .noticias__ultimas {
    border-left: solid 0.2em blueviolet;
    padding: 1em;
  }
  .insertos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
.contactanos__main {
  text-align: center;
}
.contactanos__main__img {
  visibility: hidden;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.formulario input {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.formulario textarea {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.formulario label {
  display: none;
}

@media (min-width: 1201px) {
  .contactanos__main {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .contactanos__main__img {
    visibility: visible;
    background-image: url(../img/contactus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contactanos__main__img p {
    visibility: hidden;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .formulario label {
    display: inline;
    font-family: "Ubuntu", sans-serif;
  }
  .formulario__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
  }
  .formulario input {
    color: white;
  }
  .formulario textarea {
    color: white;
  }
  .formulario__label__button {
    background-color: blueviolet;
    padding: 0.5em;
    border-radius: 1em;
  }
}
.conferencias__generales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.conferencias__video p {
  display: none;
}

@media (min-width: 1201px) {
  .conferencias__video {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: lightpink;
  }
  .conferencias__video p {
    display: block;
    text-align: justify;
    font-family: "Ubuntu", sans-serif;
  }
}
.flip-card {
  padding-top: 2em;
}
.flip-card__tarjeta {
  background-image: url(../img/comida-sana.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.flip-card__tarjeta__frente {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 0.05em blueviolet;
}
.flip-card__tarjeta__fondo {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 0.05em blueviolet;
}

@media (min-width: 1201px) {
  .recetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  .flip-card {
    width: 400px;
    height: 400px;
  }
  .flip-card:hover .flip-card__tarjeta {
    transform: rotateY(180deg);
  }
  .flip-card__tarjeta {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: justify;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-card__tarjeta__frente, .flip-card__tarjeta__fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .flip-card__tarjeta__frente {
    background-image: url("../img/comida-sana.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
  }
  .flip-card__tarjeta__frente h3 {
    font-weight: bold;
    padding: 0.1em;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 0.5em;
  }
  .flip-card__tarjeta__fondo {
    background-color: whitesmoke;
    color: black;
    transform: rotateY(180deg);
    border: solid 0.05em blueviolet;
  }
}
.centros-gineco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.centros-gineco p {
  display: none;
}

@media (min-width: 1201px) {
  .centros-gineco__contenido {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: lightpink;
  }
  .centros-gineco__contenido p {
    display: block;
    text-align: justify;
    font-family: "Ubuntu", sans-serif;
  }
}

/*# sourceMappingURL=styles.css.map */
